table,th,td{
    text-align: center;
    border: 1px solid #100f0f;
}

button{
    background-color: rgb(191, 210, 191);
}

.btnDelete{
    background-color: red;
}

.success{
    color: green;
}

.error{
    color: red;
}